.git
.github
.vscode
.idea
.env
.env.*
!.env.example
node_modules
vendor
storage/*.key
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
tests
phpunit.xml
.phpunit.result.cache
README.md
